
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
   <mat-card class="example-card">
        <h1>Login</h1>
        <mat-card-actions>  
          <div class="form-container form-1">

            
            <div [className]="eyes ? 'form password' : 'form'">
                <h2 style="margin-left: -20px;">Please enter your detalis:</h2>
      
                <div [className]="eyes ? 'control password' : 'control'">
                <label for="email" [className]="eyes ? 'fa fa-envelope password' : 'fa fa-envelope'"></label>
                <input  [(ngModel)] = "email" 
                        name = "email" 
                        id="email"
                        type="email"
                        [className]="eyes ? 'password' : ''" 
                        (click) = "showEyes()"
                        matInput placeholder="Email" required>
              </div>
              <div *ngIf = "code == 'auth/invalid-email'" class="error">{{ message }}</div>
              <div *ngIf = "code == 'auth/user-not-found'" class="error">{{ message }}</div>
              <div *ngIf = "email == ''" class="error">{{ required }}</div>

              <div [className]="eyes ? 'control password' : 'control'">
                <label for="password" [className]="eyes ? 'fa fa-lock password' : 'fa fa-lock'"></label>
                <input  class="input-1" 
                        [type] = "hide ? 'password' : 'text'"
                        id="password"
                        [(ngModel)]="password" 
                        name="password" 
                        placeholder="Password"
                        (click) = "hideEyes()" 
                        [className]="eyes ? 'password' : ''"
                        matInput >
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </div>
              <br>

              <span class="progress-bar_text" >{{ pbText }}</span>
              <br>
              <div *ngIf = "code == 'auth/wrong-password'"  class="error">{{ message }}</div>
              <div *ngIf = "password == ''"  class="error" >{{ required }}</div>
    
              <button mat-raised-button
                      style="margin-left: -20px;" 
                      (click)="login()">Login
              </button>
             
            </div>
          </div>
        </mat-card-actions>
  </mat-card>
<!--
    <footer>
		<p>© E & R & I & K</p>
	</footer>
-->

</body>


