.nav
{
  background-color: #ffffff;
  border-radius: 2px;
  margin: 15px ;
}
.nav-side {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    padding: 0 20px;
    margin: 5px ;
    }
  .head-line{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:2px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    }

    .mat-raised-button {
      color: rgb(104, 0, 0);
    }



.buttons{
  width: 115px;
  height: 60px;
}