<mat-card>
<mat-toolbar class="nav">

  <img width=130px src="https://i.imgur.com/ySgib39.jpg">
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;">
    <div *ngIf="authService.user | async">
      <button  mat-raised-button
               class="nav-side"
               *ngIf="router.url !== '/score'"
               (click)= "toScores()">
        Score
      </button>
    </div>

    <div *ngIf="authService.user | async">
      <button  mat-raised-button
               class="nav-side"
               *ngIf="router.url !== '/quiz'"
               (click)= "toQuiz()">
        Quiz
      </button>
    </div>
    <!--
      <div *ngIf="!(authService.user | async)">
        <button   *ngIf = "router.url !== '/register'"
                  mat-raised-button
                  class="nav-side"
                  (click)= "toRegister()">
            Register
        </button>
      </div>

      <div *ngIf="!(authService.user | async)">
        <button  *ngIf = "router.url !== '/login'"
                  mat-raised-button
                  class="nav-side"
                  (click)= "toLogin()">
            Login
        </button>
      </div>
    -->



    <div *ngIf="!(authService.user | async)">
      <a routerLink = "/register"> <img class = "buttons"  *ngIf = "router.url !== '/register'" src="https://i.imgur.com/3jrojTT.jpg"> </a>
      &nbsp;  
      </div>
      
      <div *ngIf="!(authService.user | async)">
       <a routerLink = "/login"> <img class = "buttons"  *ngIf = "router.url !== '/login'" src="https://i.imgur.com/3ibyuox.jpg"> </a>
       &nbsp;
      </div>
      
      <div *ngIf="!(authService.user | async)">
       <a routerLink = "/"> <img class = "buttons"  *ngIf = "router.url !== '/quiz'" src="https://imgur.com/xCjAogF.jpg"> </a>
      </div>


    <button *ngIf = "(authService.user | async)"
            mat-raised-button 
            class="nav-side" 
            (click)="toLogout()">
      Logout
   </button>     
        
  </div>
<!--
  <div *ngIf="!(authService.user | async)">
      <button   *ngIf = "router.url !== '/quiz'"
                mat-raised-button
                class="nav-side"
                (click)= "toHome()">
          Home
      </button>
    </div>
  -->
</mat-toolbar>
</mat-card>
